html {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
/*-----------------------------*/
/*-----------------------------*/
/*--------HOMEPAGE-------------*/
/*-----------------------------*/
/*-----------------------------*/



/*--------NAVBAR-------------*/

#navbar {
  display: flex;
  /*flex-direction: row; THIS IS DEFAULT */
  justify-content: flex-start;
}


/*--------IMAGE-------------*/


/*.image {
  width: 100%;
  height:800px;
  background: url("IMG_1841.JPG");
  background-size: cover;
}*/



.welcome_image {
  display: flex;
  flex-direction: column;
}

.naples_home_image {
  width: 100%;
}

figcaption {
  padding-left: 15px;
}
/*--------MAIN TITLE-------------*/
.welcome_title_homepage {
  display:flex;
  justify-content: center;
}

.welcome_title_homepage h1 {

}

/*--------HOMEPAGE BODY TEXT-------------*/

.homepage_text {
  display: flex;
  flex-direction: column;
}

.homepage_text p {
  padding-left: 20px;
  padding-right: 20px;
}

/*--------Top Destinations-------------*/

.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
}

.homepage-mini-pic {
  padding-top:50px;
  width: 90%;
}

.homepage-mini-pic:last-child {
  padding-bottom: 50px;
}

/*--------FOOTER-------------*/

footer {
  display: flex;
  flex-direction: row;
}

#footer_links_2 {
  padding-left: 100px;
}



.copyright_icons {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}

.icons {
  display: flex;
  flex-direction: row;
}

.icons i {
  padding-right: 20px;
}
